<div class="container">
	<div class="jumbotron">
	  <h1>Index the learnable web</h1>
	  <p>Catalougue all of the ways learn knowledge on the internet</p>
	</div>

	<h3><%= link_to "Resources index", resources_path %></h3>
	<h3><%= link_to "Subjects", subjects_path %></h3>

	<div class="jumbotron">
		<p>The internet is the perfect distribution platform for education. If we are going to take the opportunities of this platform to allow truely global access to learning, we need to start adding more data to the educational content we produce. Being able to define and compare the topics taught by all educational content will be a fundemental advantage of the web. We have done it for movies and porn, now it’s time for education.</p>
	</div>
</div>