<div class="container">
	<div class="jumbotron">
	  <h1>Index the learnable web</h1>
	  <p>Explore all of the ways to gain knowledge on the internet</p>
	</div>

	<h3><%= link_to "Submit a resource", new_resource_path %></h3>
	
	<div class="row">
  		<div class="col-xs-6 col-md-4 text-center thumbnail">
      		<h3><%= link_to "Resources index", resources_path %></h3>
  		</div>
  		<div class="col-xs-6 col-md-4 text-center thumbnail">
   			<h3><%= link_to "Topics", subjects_path %></h3>
  		</div>
  		<div class="col-xs-6 col-md-4 text-center thumbnail" >
   			<h3><%= link_to "Organizations", subjects_path %></h3>
  		</div>
	</div>
	
	


	<div class="jumbotron">
		<p>The internet is the perfect distribution platform for education. If we are going to take the opportunities of this platform to allow truely global access to learning, we need to start adding more data to the educational content we produce. Being able to define and compare the topics taught by all educational content will be a fundemental advantage of the web. We have done it for movies and pokémon, now it’s time for education.</p>
	</div>

	<div class="row">
  		<div class="col-xs-6 col-md-4">
   			<a href="#" class="thumbnail">
      			Data for resources
   			</a>
  		</div>
  		<div class="col-xs-6 col-md-4">
   			<a href="#" class="thumbnail">
      			Use meta data for build educational app infrastructure
   			</a>
  		</div>
  		<div class="col-xs-6 col-md-4">
   			<a href="#" class="thumbnail">
      			Free API access for use accross the web and data analysis
   			</a>
  		</div>
	</div>
</div>