<div class="container">
	<h1>Resources</h1>

	<h3><%= link_to "Submit a resource", new_resource_path, class: 'btn btn-primary' %></h3>

	<br>

	<% @resources.each do |resource| %>
		<p><%= link_to resource.title, resource_path(resource) %></p>
	<% end %>
</div>
