<br>
<div class="container">
	<h3>Resource will be reviewed for accuracy before being submitted to the site.</h3>
	<%= render "form" %>

	<p>All submitted resources will be submitted for review and approval</p>
</div>