<div class="container">
	<%= bootstrap_form_for @organization do |f| %>
				
			<div class="input-group">

				<%= f.text_field :title, label: 'Title?' %>
				<br>
				
				<%= f.button :submit, value: 'Submit', class: 'btn btn-primary' %>
						
			</div>
				
	<% end %>
</div>