<div class="container text-center">
	<h1><%= @organization.title %></h1>
	<p><%= @organization.tag_line %></p>
	<p><%= @organization.url %></p>
</div>
<div class="container text-center">
<section class="section first">
	<h1>Courses</h1>
		<% @resources.each do |resource| %>
			<h3><%= link_to resource.title, resource_path(resource) %></h3>
		<% end %>
</section>	

<section class="section third">
		<h1>Location</h1>
		<p>London</p>
	
</section>
</div>