<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header col-md-12">
      <%= link_to "edudex", root_path, :class => "navbar-brand" %>
  </div>
</nav>